.bar {
    display: flex;
    background-color: black;
    gap: 2px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.section {
    background-color: yellow;
    width: calc(100%/3);
    height: 10px;
}